heartbeat.monitors:

- type: icmp
  schedule: '@every 5s'
  hosts: []
  watch.poll_file:
    path: dynamic.json
    interval: 5s

fields:
  location: {{getenv "LOCATION"}}

output.elasticsearch:
  hosts: ['172.16.1.17:9200']
